.vercel
*.log
*.pyc
__pycache__

# Environments 
.env 
.venv 
env/ 
venv/ 
ENV/ 
env.bak/ 
venv.bak/ 
.direnv
variables.txt
.DS_Store
.envrc
.vscode
.env*.local
*.code-workspace
Loras
Loras/
*.sh
finetune/
Collab_examples/
cookies.txt
*_cookies.txt